.card{
    background-color: rgb(192, 196, 193);
    margin: 10vw;
    height: 15vw;
    border-radius: 15px;
}
h1{
    text-align: center;
    padding: 30px;
}

.button{
    text-align: center;
}
.button a{
    background-color: rgb(235, 45, 127);
    color: #fff;
    padding: 20px;
    text-decoration: none;
    border-radius: 5px;
}
.button a:hover{
    background-color: rgb(144, 14, 107);
    color: rgb(235, 200, 200);
}